/******************************
The CSS in this file will be for all the pages 
******************************/

.center {
  text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
}

main {
  min-height: 85%;
/*  height: 720px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main div {
  display: flex;
  flex-direction: column;
  align-items: center;
}


footer {
  text-align: center;
}