/******************************
The CSS in this file will be for the landing page
******************************/

main {
  height:720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
