/******************************
The CSS in this file will be for the movies section
******************************/

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie_info_box {
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
}
